/* -----------------------------------------
    1. Global elements
-------------------------------------------- */

body {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('/images/background/BackgroundCampfireNight2.png');
    image-rendering: pixelated;
    background-repeat: repeat;
    background-size: 100vw;
    position: relative;
}


/*------------------------------------
  2. Layout Wrappers
------------------------------------*/

    /* Gjør bakgrunnen "blurry" */
.partial-background { 
    background: rgb(0, 0, 0, 0.1);
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    backdrop-filter: blur(4px);
}

#body-wrapper {
    z-index: 1;
    position: relative;
}

#main-wrapper {
    padding-top: 150px;
}


/* -----------------------------------------
    3. Header og Navigasjon
-------------------------------------------- */
#header-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 15px;
    z-index: 3;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 119, 255, 0.2);
    width: calc(100% - 120px);
}

#nav-bar ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

#nav-bar a {
    text-decoration: none;
    font-weight: bold;
}

/*--- Nav Links ---*/
nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px; 
    transition: none;
    color: white;
}

nav ul li a span {
    display: block;
    transition: transform 0.3s ease-in-out;
}

nav ul li a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px; 
    height: 64px;
    image-rendering: pixelated;
    margin-bottom: 6px;
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover img {
    transform: scale(1.2);
}

/*--- Navbar Hover Animations ---*/
#hobbies:hover span   { transform: rotate(-3deg) translateY(7px);}
#om-meg:hover span    { transform: rotate(3deg) translateY(8px); }
#home:hover span   { transform: rotate(-3deg) translateY(7px);}

/* meowmeow */
.pizzacat { 
    width: 86px;   
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.pizzacat:hover {
    animation: bounce 1s;
}

/* -----------------------------------------
    4. Main og grid
-------------------------------------------- */

.main-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    min-width: 500px;
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto;
}

.box {
    display: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 2rem;
    border-radius: 5px;
    overflow: auto;
    
}

.box3 {
    grid-column: 1 / span 2;
    grid-row: 2;
}


.gif-box img {
    width: 100%;
    min-width: 300px;
}

/* TV med bildeserie */

.tv-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 2.5rem auto;
    aspect-ratio: 5 / 4;
}

.tv-skjerm, .tv-ramme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    
}

.tv-skjerm {
  z-index: 1;
  left: 10%;
  top: 6%;
  width: 53%;
  /* height: 80%; */
  image-rendering: auto;
  min-width: 188px;
}
.tv-ramme {
  z-index: 2;
  object-fit: cover;
  min-width: 355px;
}

/* -----------------------------------------
    5. Skills og Tech
-------------------------------------------- */

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skills-skill {
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    background: rgba(153,153,153,0.4);
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.5s;
}

.skills-skill:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 183, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
}


.techs-img {
    width: 32px;
}



/* -----------------------------------------
    6. Kontaktinformasjon og lenker til sosiale medier
-------------------------------------------- */

.box3 h4 {
    align-items: center;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: rgb(80, 150, 255);
}

a:hover {
    text-decoration: underline;
}

.box3 a img {
    width: 32px;
    transition: transform 0.2s ease-in-out;
    image-rendering: auto;
}
.box3 a img:hover {
    transform: scale(1.1);
}


/*------------------------------------
    7. Topp-listene + Card
------------------------------------*/
.favoritter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    /* align-items: stretch; */
}

.favoritt-card {
    max-width: 15rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
}

.favoritt-card:hover {
    transform: scale(1.03);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.4)
}

.favoritt-card img {
    width: 100%;
    height: 10rem;
    object-fit: contain;
    border-radius: 5px;
    image-rendering: auto;
    display: block;
}

.favoritt-card p {
    text-align: center;
    font-size: 1rem;
}


/*------------------------------------
  Animasjoner
------------------------------------*/

@keyframes moveBg {
    from { background-position: 0 0; }
    to   { background-position: -2000px 0; }
}

@keyframes bounce {
    0%   { transform: scale(1) translateY(0); }
    20%  { transform: scale(1.1) translateY(-6px); }
    40%  { transform: scale(0.95) translateY(6px); }
    60%  { transform: scale(1.05) translateY(-3px); }
    80%  { transform: scale(0.90) translateY(3px); }
    100% { transform: scale(1) translateY(0); }
}


/*------------------------------------
  Media Querys
------------------------------------*/

@media (max-width: 1650px) {
    .favoritter {
        grid-template-columns: repeat(2, minmax(10rem, 1fr));
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1550px) {
    .tv-container {
        height: 300px;
    }
}

@media (max-width: 1000px) {
    .box {
        max-height: 600px;
    }
}

@media (max-width: 850px) {
    .main-box {
        min-width: 786px;
    }
} 

@media (max-width: 810px) {
    .tv-skjerm {
        margin: 0 15px;
    }
}

@media (max-width: 585px) {
    #header-wrapper {
        min-width: 528px;
    }
}